{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<h4>
    <span style="float:left;">Symbol</span>
    <span style="float:right;text-align:right;margin-left: 300px;">Total</span>
    <span style="float:center;text-align:right;">Shares</span>
    <span style="float:right;text-align:right;">Price</span>
</h4>
{% for stock in stocks %}
    <h4>
        <span style="float:left;"> {{stock}} </span>
        <span style="float:right;text-align:right;">{{total[loop.index0]}}</span>
        <span style="float:center;text-align:right;margin-right: 10px;">{{shares[loop.index0]}}</span>
        <span style="float:right;text-align:right;margin-right: 275px;">{{prices[loop.index0]}}</span>


    </h4>
{% endfor %}
<h4>
    <span style="float:left;"></span>
    <span style="float:center;text-align:right;margin-left: 180px;"></span>
    <span style="float:right;text-align:right;margin-left: 260px;">{{cash}}</span>
    <span style="float:right;text-align:right;">Cash</span>
</h4>
<h4>
    <span style="float:left;"></span>
    <span style="float:center;text-align:right;margin-left: 180px;"></span>
    <span style="float:right;text-align:right;margin-left: 255px;">{{all_total}}</span>
    <span style="float:right;text-align:right;">TOTAL</span>
</h4>




{% endblock %}

